{% load static %}
<!--puede ser tambien {% load staticfiles %}-->
<html>

<head>
    <title>Santi</title>
    <!--importando boostrap.-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--para que encuentro los css de la app blog-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--para las letras de google https://fonts.google.com/ -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <!-- aca para llamar y hacer un nuevo post-->
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1>
            <a href="/">Primer blog Santi</a>
        </h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>